body {
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.love-img {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 20px;
  position: relative;
  height: 80px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
  position: absolute;
  left: 40px;
}

#noBtn {
  background: #ccc;
  position: absolute;
  left: 180px;
}
